 <header>
        <div class="header-left">
            <ul class="nav header-links pull-right">
                <li class="humbager">
                    <a href="" class="btn btn-secondary just-icon"><i class="mdi mdi-menu"></i></a>
                </li>
                <li class="header-logo">
                    <a href="{{ url('') }}" class="header-branding"><img src="{{ url('') }}uploads/app/{{ env('APP_LOGO'); }}" class="img-responsive"> </a>
                </li>
                <li class="scheduling-link">
                    <a href="{{url('Schedule@get')}}" class="btn btn-primary btn-icon"><i class="mdi mdi-calendar-text"></i> Scheduling </a>
                </li>
            </ul>
        </div>
        <div class="header-right">
            <ul class="nav header-links pull-right">
                <li class="notify">
                    <a href="<?=url("");?>notifications" class="notification-holder">
                        <span class="notifications">
                            <i class="mdi mdi-bell-outline"></i>
                        </span>
                        <span class="label label-danger btn-round bubble">{{Simcify\Controllers\Notification::count()}}</span>
                    </a>
                </li>
                <li class="profile">
                <div class="dropdown">
                        <span class="dropdown-toggle" data-toggle="dropdown">
                            <span class="avatar">
                                @if( !empty($user->avatar) )
                                <img src="<?=url("");?>uploads/avatar/{{ $user->avatar }}" class="user-avatar img-circle">
                                @else
                                <img src="<?=url("");?>assets/images/avatar.png" class="user-avatar">
                                @endif
                            </span>
                            <span class="profile-name"> <span class="hidden-xs">{{ $user->fname }} {{ $user->lname }} </span> <i class="mdi mdi mdi-menu-down-outline"></i> </span>
                    </span>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                          <li><a href="{{ url('Settings@get') }}"> <i class="mdi mdi-account"></i> Profile</a></li>
                          <li><a href="{{ url('Settings@get') }}"> <i class="mdi mdi-settings"></i> Settings</a></li>
                          <li><a href="{{ url('Auth@signout') }}"> <i class="mdi mdi-logout"></i> Logout</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </header>