<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Driving School Management System">
    <meta name="author" content="Simcy Creative">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url('') }}uploads/app/{{ env('APP_ICON'); }}">
    <title>Branches | MacQueen Easy Driving School Management System</title>

    <!-- Material design icons -->
    <link href="{{ url('') }}assets/fonts/mdi/css/materialdesignicons.min.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="{{ url('') }}assets/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Simcify CSS -->
    <link href="{{ url('') }}assets/css/simcify.min.css" rel="stylesheet">

    <!-- Landa CSS -->
    <link href="{{ url('') }}assets/css/style.css" rel="stylesheet">
</head>
<body>
    <!-- sidebar -->
    @include("includes/sidebar")

    <!-- header -->
    @include("includes/header")

    <!-- main content -->
    <div class="main-content">
        <div class="page-header">
            <button type="button" class="btn btn-primary btn-icon pull-right ml-5 addbranch" data-toggle="modal" data-target="#create"><i class=" mdi mdi-plus-circle-outline"></i> Add Branch </button>
            <h3>Branches</h3>
            <p>These are branches of your school. </p>
        </div>


        <!-- page content -->
        <div class="row">
            @if(!empty($branches))
             @foreach($branches as $branch)
                <!-- branch -->
                <div class="col-md-4">
                    <div class="card">
                        <div class="school">
                            <div class="school-heading">
                                <div class="school-icon"><i class="mdi mdi-map-marker-multiple"></i></div>
                                <div class="school-details">
                                    <h5>{{$branch->name}}</h5>
                                    <span>{{$branch->email}}</span>
                                    <span>
                                        @if ( !empty($branch->phone) ) {{ $branch->phone }} @else Phone not set @endif
                                    </span>
                                </div>
                            </div>
                            <div class="school-info">
                                <p>
                                    <span><i class="mdi mdi-account-convert"></i></span>
                                    {{$branch->students}} Active Students
                                </p>
                                <p>
                                    <span><i class="mdi mdi-account-multiple-outline"></i></span>
                                    {{$branch->instructors}} Instructors
                                </p>
                                <p>
                                    <span><i class="mdi mdi-car"></i></span>
                                    {{$branch->vehicles}} Vehicles
                                </p>
                                <p>
                                    <span><i class="mdi mdi-map"></i></span>
                                    @if ( !empty($branch->address) ) {{ $branch->address }} @else Address not set @endif
                                </p>
                            </div>
                            <div class="school-footer">
                                <div class="dropdown pull-right">
                                        <span class="dropdown-toggle" data-toggle="dropdown">
                                            <i class="mdi mdi-dots-horizontal"></i> </span>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                          <li role="presentation"><a role="menuitem" class="fetch-display-click" data="branchid:{{ $branch->id }}|csrf-token:{{ csrf_token() }}" url="<?=url("Branch@updateview");?>" holder=".update-holder" modal="#update" href=""> <i class="mdi mdi-pencil"></i> Edit</a></li>
                                          <li role="presentation"><a role="menuitem" href="" input="branchid" modal="#sendemail" class="pass-data" value="{{ $branch->id }}"> <i class="mdi mdi-email-outline"></i> Send Email</a></li>
                                          <li role="presentation"><a role="menuitem" href="" input="branchid" modal="#sendsms" class="pass-data" value="{{ $branch->id }}"> <i class="mdi mdi-message-text-outline"></i> Send SMS</a></li>
                                          @if($branch->name != 'Headquarters' && $user->branch != $branch->id)
                                          <li role="presentation"><a role="menuitem" href="" class="send-to-server-click" data="branchid:{{ $branch->id }}|csrf-token:{{ csrf_token() }}" url="{{ url('Branch@delete') }}" warning-title="Are you sure?" warning-message="This branch and all it's staff, fleet, students & record will be deleted forever." warning-button="Continue" loader="true"> <i class="mdi mdi-delete"></i> Delete</a></li>
                                          @endif
                                        
                                        </ul>
                                </div>
                                @if($user->branch == $branch->id)
                                    <span class="badge badge-success">Current branch</span>
                                @else
                                    <a href="" class="send-to-server-click" data="branchid:{{ $branch->id }}|csrf-token:{{ csrf_token() }}" url="{{ url('Branch@switch') }}" loader="true"><span class="badge badge-primary pointer">Switch to branch</span></a>
                                @endif
                                
                            </div>
                        </div>
                    </div>
                </div>
             @endforeach
            @else 
            <div class="col-md-12">
                <div class="empty">
                    <i class="mdi mdi-alert-circle-outline"></i>
                    <h3>It's empty here!</h3>
                </div>
            </div>
            @endif
        </div>
    </div>

    <!-- footer -->
    @include("includes/footer")


<!-- modals -->
<div class="modal right fade" id="create" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="mdi mdi-close-circle-outline"></i></span></button>
                    <h4 class="modal-title" id="myModalLabel2">Add Branch</h4>
                </div>

                <div class="modal-body">
                    <form class="simcy-form" action="{{ url('Branch@create') }}" method="POST" loader="true" data-parsley-validate="">
                        <p>Enter information of your new branch.</p>
                      <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <label>Branch Name</label>
                                <input type="text" class="form-control" placeholder="Branch Name" name="name" required="">
                                <input type="hidden" value="{{ csrf_token() }}" name="csrf-token" />
                            </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <label>Email Address</label>
                                <input type="email" class="form-control" placeholder="Email Address" name="email" required="">
                            </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <label>Phone Number</label>
                                <input type="text" class="form-control" placeholder="Phone Number" name="phone" required="">
                            </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <label>Address</label>
                                <input type="text" class="form-control" placeholder="Address" name="address" required="">
                            </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-primary btn-block" type="submit">Add Branch</button>
                            </div>
                        </div>
                      </div>
                    </form>
                </div>

            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal -->

    <!-- update -->
    <div class="modal right fade" id="update" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true"><i class="mdi mdi-close-circle-outline"></i></span></button>
                    <h4 class="modal-title" id="myModalLabel2">Edit School</h4>
                </div>
                <div class="update-holder"></div>
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div>
    <!-- end update -->
    <!-- Send Email-->
    <div class="modal right fade" id="sendemail" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true"><i class="mdi mdi-close-circle-outline"></i></span></button>
                    <h4 class="modal-title" id="myModalLabel2">Send Email</h4>
                </div>
                <div class="modal-body">
                    <form action="{{ url('Branch@sendemail') }}" class="simcy-form" data-parsley-validate=""  loader="true" method="post">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Subject</label> 
                                    <input class="form-control" name="subject" placeholder="Subject" type="text" required="">
                                    <input name="csrf-token" type="hidden" value="{{csrf_token()}}">
                                    <input name="branchid" type="hidden">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Message</label> 
                                    <textarea class="form-control" name="message" placeholder="Message" rows="6" required=""></textarea>
                                </div>
                            </div>
                        </div> 
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary btn-block">Send Email</button>
                                </div>
                            </div>
                        </div> 
                    </form>
                </div>
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div>
    <!-- end Send Email-->
    <!-- Send SMS-->
    <div class="modal right fade" id="sendsms" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true"><i class="mdi mdi-close-circle-outline"></i></span></button>
                    <h4 class="modal-title" id="myModalLabel2">Send SMS</h4>
                </div>
                <div class="modal-body">
                    <form action="{{ url('Branch@sendsms') }}" class="simcy-form" data-parsley-validate=""  loader="true" method="post">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Message</label> 
                                    <textarea class="form-control" placeholder="Message" name="message" rows="6" required=""></textarea>
                                    <input name="csrf-token" type="hidden" value="{{ csrf_token() }}">
                                    <input name="branchid" type="hidden">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary btn-block">Send SMS</button>
                                </div>
                            </div>
                        </div> 
                    </form>
                </div>
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- end SMS-->


   <script src="{{ url('') }}assets/js/jquery-3.3.1.min.js"></script>
   <script src="{{ url('') }}assets/js/popper.min.js"></script>
   <script src="{{ url('') }}assets/libs/bootstrap/js/bootstrap.min.js"></script>
   <script src="{{ url('') }}assets/libs/jquery-slimscroll/jquery.slimscroll.min.js"></script>
   <script src="{{ url('') }}assets/js/simcify.min.js"></script>
   <script src="{{ url('') }}assets/js/app.js"></script>
   <script>
    //Send Email
    $('.sendemail').on('click',function(){
      var email = $(this).attr('data-value');
      $('.schoolemail').val(email);
    });
    //Send SMS
    $('.sendsms').on('click',function(){
      var phone = $(this).attr('data-value');
      $('.schoolphone').val(phone);
    });
    //Edit Branch
    $('.editbranch').on('click',function(){
        var data = JSON.parse($(this).attr('data-scope'));
        $('#create .modal-title').text('Edit Branch');
        $('.submitbtn').text('Save changes');
        $('.branchform').attr('action', `{{url('Branch@edit')}}${data.id}/`);
        $('.branchname').val(data.bname);
        $('.branchemail').val(data.bemail);
        $('.branchphone').val(data.bphone);
        $('.branchaddress').val(data.baddress);
        $('.branchcode').val(data.bcode);
    });
    //Add Branch
    $('.addbranch').on('click',function(){
        $('#create .modal-title').text('Add Branch');
        $('.submitbtn').text('Add Branch');
        $('.branchform').attr('action',"{{url('Branch@store')}}");
        $('.branchname').val('');
        $('.branchemail').val('');
        $('.branchphone').val('');
        $('.branchaddress').val('');
        $('.branchcode').val('');
    });
   </script>
</body>
</html>