<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Driving School Management System">
    <meta name="author" content="Simcy Creative">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url('') }}uploads/app/{{ env('APP_ICON'); }}">
    <title>Fleet | MacQueen Easy Driving School Management System</title>

    <!-- Material design icons -->
    <link href="{{ url('') }}assets/fonts/mdi/css/materialdesignicons.min.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="{{ url('') }}assets/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Simcify CSS -->
    <link href="{{ url('') }}assets/css/simcify.min.css" rel="stylesheet">

    <!-- Landa CSS -->
    <link href="{{ url('') }}assets/css/style.css" rel="stylesheet">
</head>
<body>
       <!-- sidebar -->
    @include("includes/sidebar")

    <!-- header -->
    @include("includes/header")

    <!-- main content -->
    <div class="main-content">
        <div class="page-header">
            <button type="button" class="btn btn-primary btn-icon pull-right ml-5" data-toggle="modal" data-target="#create"><i class=" mdi mdi-plus-circle-outline"></i> Add Vehicle </button>
            <h3>Fleet</h3>
            <p>Vehicles for your branch</p>
        </div>


        <!-- page content -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                        <div class="card-body p-0">
                            <div class="table-responsive">
                            <table class="table table-striped mb-0 mw-1000">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Car Type</th>
                                            <th>Car No.</th>
                                            <th>Plate</th>
                                            <th>M. Year</th>
                                            <th>Instructor</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            @if(!empty($fleet))
                                                @foreach($fleet as $key => $car)
                                                <tr>
                                                    <th scope="row">{{$key+1}}</th>
                                                    <td><strong>{{$car->make}} {{$car->model}}</strong></td>
                                                    <td>#{{$car->carno_}}</td>
                                                    <td>{{$car->carplate}}</td>
                                                    <td>{{$car->modelyear}}</td>
                                                    <td><strong>{{$car->instructor}}</strong></td>
                                                    <td class="text-center">
                                                        <a class="btn btn-primary btn-sm btn-icon" href="{{url('Schedule@get')}}?filter=car&filterid={{ $car->id }}"><i class="mdi mdi-calendar-text"></i> Schedule</a>

                                                        <div class="dropdown inline-block">
                                                                <button class="btn btn-default btn-sm btn-icofn dropdown-toggle" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></button>
                                                                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                                                <li role="presentation"><a role="menuitem" class="fetch-display-click" data="carid:{{ $car->id }}|csrf-token:{{ csrf_token() }}" url="<?=url('Fleet@updateview');?>" holder=".update-holder" modal="#update" href=""> <i class="mdi mdi-pencil"></i> Edit</a></li>
                                                                <li role="presentation"><a role="menuitem" class="send-to-server-click" data="carid:{{ $car->id }}|csrf-token:{{csrf_token()}}" href="" url="{{ url('Fleet@delete') }}" warning-title="Are you sure?" warning-message="This car and all it's record will be deleted" warning-button="Delete" loader="true"> <i class="mdi mdi-delete"></i> Delete</a></li>
                                                                </ul>
                                                        </div>
                                                        
                                                    </td>
                                                </tr>
                                                @endforeach
                                            @else
                                            <tr><th colspan="7" class="text-center">It's empty here.</th></tr>
                                            @endif
                                        </tbody>
                            </table>
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    @include("includes/footer")
<!-- modals -->
<div class="modal right fade" id="create" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="mdi mdi-close-circle-outline"></i></span></button>
                    <h4 class="modal-title" id="myModalLabel2">Add Vehicle</h4>
                </div>

                <div class="modal-body">
                    <form class="simcy-form" data-parsley-validate="" action="{{ url('Fleet@add') }}" method="POST" loader="true">
                        <p>A welcome email will be set and recepient will complete setup.</p>
                      <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Car No.</label>
                                <input type="text" class="form-control" placeholder="Car No." name="carno" required>
                                <input type="hidden" value="{{csrf_token()}}" name="csrf-token">
                            </div>
                            <div class="col-md-6">
                                <label>Number Plate</label>
                                <input type="text" class="form-control" placeholder="Number Plate" name="carplate" required>
                            </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Make</label>
                                <input type="text" class="form-control" placeholder="Make" name="make" required>
                              </div>
                            <div class="col-md-6">
                                <label>Model</label>
                                <input type="text" class="form-control" placeholder="Model" name="model" required>
                              </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <label>Model Year</label>
                                <input type="number" class="form-control" placeholder="Model Year" name="modelyear" required>
                            </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="email">Assigned Instructor</label>
                                <select class="form-control select2" name="instructor">
                                    @if(!empty($instructors))
                                    <option value="0" class="disabled">Select Instructor</option>
                                    @foreach($instructors as $instructor)
                                     <option class="item" value="{{$instructor->id}}">{{$instructor->fname}} {{$instructor->lname}}</option>
                                    @endforeach
                                    @endif
                                </select>
                            </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-primary btn-block" type="submit">Add Vehicle</button>
                            </div>
                        </div>
                      </div>
                      
                    </form>
                </div>

            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal -->

    <!-- update -->
    <div class="modal right fade" id="update" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true"><i class="mdi mdi-close-circle-outline"></i></span></button>
                    <h4 class="modal-title" id="myModalLabel2">Edit Car</h4>
                </div>
                <div class="update-holder"></div>
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div>
    <!-- end update -->

   <script src="{{ url('') }}assets/js/jquery-3.3.1.min.js"></script>
   <script src="{{ url('') }}assets/js/popper.min.js"></script>
   <script src="{{ url('') }}assets/libs/bootstrap/js/bootstrap.min.js"></script>
   <script src="{{ url('') }}assets/libs/jquery-slimscroll/jquery.slimscroll.min.js"></script>
   <script src="{{ url('') }}assets/js/simcify.min.js"></script>
   <script src="{{ url('') }}assets/js/app.js"></script>
   <script>
    //Edit Vehicle
    $('.editcar').on('click',function(){
        var data = JSON.parse($(this).attr('data-scope'));
        $('#create .modal-title').text('Edit Branch');
        $('.submitbtn').text('Save changes');
        $('.simcy-form').attr('action',`{{url('Fleet@edit')}}${data.id}`);
        $('.carno').val(data.carno);
        $('.carplate').val(data.carplate);
        $('.carmake').val(data.carmake);
        $('.carmodel').val(data.carmodel);
        $('.modelyear').val(data.modelyear);
        for(var i =0;i<=data.names.length;i++){
            console.log(data.names[i]);
        }
        $('.instructors').val(data.instructors);
        $('.carimg').attr('data-default-file',`{{asset("uploads/fleet/")}}${data.carimg}`); 
    });
    //Add Vehicle
    $('.addcar').on('click',function(){
        $('#create .modal-title').text('Add Fleet');
        $('.submitbtn').text('Add Branch');
        $('.simcy-form').attr('action',"{{url('Branch@store')}}");
        $('.carno').val('');
        $('.carplate').val('');
        $('.carmake').val('');
        $('.carmodel').val('');
        $('.modelyear').val('');
        $('.instructors').val('');
        $('.carimg').attr('data-default-file',' '); 

    });
    //Select instructor
    $('.instructor').on('change', function(){
      var instructors = $('.instructors');
      var insdata = $('.insdata');
      var value = $(this).val();
      if(instructors.val().length < 1){
          instructors.val(value);
          insdata.html('<span class="badge badge-pill badge-primary col-md-5 mt-2 ml-1">'+$('.instructor option:selected').text()+'</span>');
      } else {
          if(instructors.val().indexOf(value) < 0){
            insdata.append('<span class="badge badge-pill badge-primary col-md-5 mt-2 ml-1">'+$('.instructor option:selected').text()+'</span>');
            instructors.val(instructors.val()+','+value);
          } else {
              notify('Oops!','This item already exists.','warning','Ok');
          }
      }
    });
    //On submit
    $('.simcy-form').on('submit',function(){
      $('.instructors').attr('disabled',false);
    });
   </script>
</body>
</html>