<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Driving School Management System">
    <meta name="author" content="Simcy Creative">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url('') }}uploads/app/{{ env('APP_ICON'); }}">
    <title>Notifications | MacQueen Easy Driving School Management System</title>

    <!-- Material design icons -->
    <link href="{{ url('') }}assets/fonts/mdi/css/materialdesignicons.min.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="{{ url('') }}assets/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Simcify CSS -->
    <link href="{{ url('') }}assets/css/simcify.min.css" rel="stylesheet">

    <!-- Landa CSS -->
    <link href="{{ url('') }}assets/css/style.css" rel="stylesheet">
</head>
<body>
    <!-- sidebar -->
    @include("includes/sidebar")

    <!-- header -->
    @include("includes/header")

    <!-- main content -->
    <div class="main-content">
        <div class="page-header">
            <h3>Notifications</h3>
        </div>

        <!-- page content -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="notifications">
                        @if(!empty($notifications))
                        @foreach($notifications as $notification)
                        <!-- single notification -->
                        <div class="single-notification">
                            @if ($notification->created_at > $user->lastnotification) 
                            <span class="unread-notification"> <i class=" mdi mdi-circle text-primary"></i></span>
                            @endif
                            @if ( $notification->type == "message" )
                            <div class="notification-icon bg-purple"><i class=" mdi mdi-message-text-outline"></i></div>
                            @elseif ( $notification->type == "delete" )
                            <div class="notification-icon bg-danger"> <i class=" mdi mdi-delete"></i> </div>
                            @elseif ( $notification->type == "calendar" )
                            <div class="notification-icon bg-secondary"> <i class=" mdi mdi-calendar"></i> </div>
                            @elseif ( $notification->type == "newaccount" )
                            <div class="notification-icon bg-warning"> <i class="mdi mdi-account-plus"></i> </div>
                            @elseif ( $notification->type == "payment" )
                            <div class="notification-icon bg-success"> <i class="mdi mdi-credit-card"></i> </div>
                            @endif
                            <div class="notification-message">
                                <div class="notification-date">{{ date('F j, Y h:ia', strtotime($notification->created_at)) }}</div>
                                {{ $notification->message }}
                            </div>
                        </div>
                        @endforeach
                        @else
                            <div class="col-md-12">
                                <div class="empty">
                                    <i class="mdi mdi-alert-circle-outline"></i>
                                    <h3>It's empty here!</h3>
                                </div>
                            </div>
                        @endif
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    @include("includes/footer")



   <script src="{{ url('') }}assets/js/jquery-3.3.1.min.js"></script>
   <script src="{{ url('') }}assets/js/popper.min.js"></script>
   <script src="{{ url('') }}assets/libs/bootstrap/js/bootstrap.min.js"></script>
   <script src="{{ url('') }}assets/libs/jquery-slimscroll/jquery.slimscroll.min.js"></script>
   <script src="{{ url('') }}assets/js/simcify.min.js"></script>
   <script src="{{ url('') }}assets/js/app.js"></script>
    <script>
        $(document).ready(function() {
            $(".bubble").hide();
            readNotifications("<?=url("Notification@read");?>");
        });
    </script>
</body>
</html> 