    <!DOCTYPE html>
    <html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Driving School Management System">
        <meta name="author" content="Simcy Creative">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url('') }}uploads/app/{{ env('APP_ICON'); }}">
        <title>Scheduling | MacQueen Easy Driving School Management System</title>

        <!-- Material design icons -->
        <link href="{{ url('') }}assets/fonts/mdi/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="{{ url('') }}assets/libs/jquery-ui/jquery-ui.min.css" rel="stylesheet">

        <!-- Bootstrap CSS -->
        <link href="{{ url('') }}assets/libs/datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
        <link href="{{ url('') }}assets/libs/fullcalendar/fullcalendar.min.css" rel="stylesheet">
        <link href="{{ url('') }}assets/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Simcify CSS -->
        <link href="{{ url('') }}assets/css/simcify.min.css" rel="stylesheet">

        <!-- Landa CSS -->
        <link href="{{ url('') }}assets/css/calendar.css" rel="stylesheet">
        <link href="{{ url('') }}assets/css/style.css" rel="stylesheet">
    </head>
    <body>
    <!-- sidebar -->
    @include("includes/sidebar")

    <!-- header -->
    @include("includes/header")

        <!-- main content -->
        <div class="main-content">
            <div class="page-header">
                @if( $filter != "none" )
                <a href="{{url('Schedule@get')}}" class="btn btn-success btn-icon pull-right"><i class="mdi mdi-calendar-text"></i> View All </a>
                @endif
                <h3>Scheduling</h3>
            </div>


            <!-- page content -->
            <div class="row">
                <!-- Scheduling -->
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <p class="pull-right schedule-map">
                                <span> <i class=" mdi mdi-circle text-danger"></i> Missed </span>
                                <span> <i class=" mdi mdi-circle text-success"></i> Practical </span>
                                <span> <i class=" mdi mdi-circle text-primary"></i> Theory </span>
                                <span> <i class=" mdi mdi-circle text-muted"></i> Complete </span>
                            </p>
                                <h5>Schedule</h5>
                        </div>
                        <div class="card-body p-0">
                            <div id='calendar'>
                                <div class="loader-demo-box">
                                    <div class="circle-loader"></div>
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer -->
       @include("includes/footer")

        @if( $user->role != 'student' )

        <!-- Add class -->
        <div class="modal right fade" id="scheduleclass" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="mdi mdi-close-circle-outline"></i></span></button>
                            <h4 class="modal-title" id="myModalLabel2">Schedule Class</h4>
                        </div>
                        <div class="modal-body">
                            <form class="simcy-form" action="{{ url('Schedule@create') }}" method="POST" loader="true">
                              <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Class Starts</label>
                                        <input type="text" class="form-control" placeholder="Class Starts" name="start" data-date-format="dd MM yyyy - HH:ii p">
                                        <input type="hidden" name="csrf-token" value="{{ csrf_token() }}">
                                    </div>
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Class Ends</label>
                                        <input type="text" class="form-control" placeholder="Class Ends" name="end" data-date-format="dd MM yyyy - HH:ii p">                                    
                                    </div>
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Student</label>
                                        <select class="form-control select2" name="student" required="">
                                            @if(!empty($students))
                                            @foreach($students as $student)
                                            <option value="{{$student->id}}">{{$student->fname}} {{$student->lname}}</option>
                                            @endforeach
                                            @endif
                                        </select>
                                    </div>
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Course</label>
                                        <select class="form-control select2" name="course" required="">
                                        <option value="0">Select Courses*</option>
                                            @if(!empty($courses))
                                            @foreach($courses as $course)
                                            <option value="{{$course->id}}">{{$course->name}}</option>
                                            @endforeach
                                            @endif
                                        </select>
                                    </div>
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Instructor</label>
                                        <select class="form-control select2" name="instructor" required="">
                                            <option value="0">Select Instructor*</option>                                    
                                            @if(!empty($instructors))
                                            @foreach($instructors as $instructor)
                                            <option value="{{$instructor->id}}" id="{{$instructor->course}}">{{$instructor->fname}} {{$instructor->lname}}</option>
                                            @endforeach
                                            @endif
                                        </select>
                                    </div>
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Class</label>
                                        <select class="form-control select2" name="class_type" required="">
                                            <option value="Theory">Theory Class</option>
                                            <option value="Practical">Practical Practical</option>
                                        </select>
                                    </div>
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Car</label>
                                        <select class="form-control select2" name="car">
                                            <option value="0">Select Car*</option>
                                            @if(!empty($fleets))
                                            @foreach($fleets as $fleet)
                                            <option value="{{$fleet->id}}">{{$fleet->make}} {{$fleet->model}} ( {{$fleet->carplate}} ) </option>
                                            @endforeach
                                            @endif
                                        </select>
                                    </div>
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Status</label>
                                        <select class="form-control select2" name="status" required="">
                                            <option value="New">New Booking</option>
                                            <option value="Complete">Complete</option>
                                            <option value="Missed">Missed</option>
                                        </select>
                                    </div>
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="btn btn-primary btn-block" type="submit">Save Class</button>
                                    </div>
                                </div>
                              </div>
                            </form>
                        </div>

                    </div><!-- modal-content -->
                </div><!-- modal-dialog -->
            </div>
        <!-- end Add class -->

    <!-- scheduleupdate -->
    <div class="modal right fade" id="scheduleupdate" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true"><i class="mdi mdi-close-circle-outline"></i></span></button>
                    <h4 class="modal-title" id="myModalLabel2">Scheduling</h4>
                </div>
                <div class="scheduleupdate-holder"></div>
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div>
    <!-- end scheduleupdate -->

    @endif

       <script src="{{ url('') }}assets/js/jquery-3.3.1.min.js"></script>
       <script src="{{ url('') }}assets/js/popper.min.js"></script>
       <script src="{{ url('') }}assets/libs/bootstrap/js/bootstrap.min.js"></script>
       <script src="{{ url('') }}assets/libs/jquery-slimscroll/jquery.slimscroll.min.js"></script>
       <script src="{{ url('') }}assets/libs/datetimepicker/js/bootstrap-datetimepicker.js"></script>
       <script src="{{ url('') }}assets/libs/fullcalendar/moment.min.js"></script>
       <script src="{{ url('') }}assets/libs/fullcalendar/fullcalendar.min.js"></script>
       <script src="{{ url('') }}assets/libs/jquery-ui/jquery-ui.min.js"></script>
       <script src="{{ url('') }}assets/js/simcify.min.js"></script>

       <script src="{{ url('') }}assets/js/schedule.js"></script>
       <script src="{{ url('') }}assets/js/app.js"></script>

       <script type="text/javascript">
            var filter = '{{ $filter }}';
            var filterid = '{{ $filterid }}';
            var schedulesUrl = '{{ url("Schedule@fetch") }}';
            var schedulesUpdateView = '{{ url("Schedule@updateview") }}';
       </script>

    </body>
    </html>