<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Driving School Management System">
    <meta name="author" content="Simcy Creative">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url('') }}uploads/app/{{ env('APP_ICON'); }}">
    <title>Staff |MacQueen Easy Driving School Management System</title>

    <!-- Material design icons -->
    <link href="{{ url('') }}assets/fonts/mdi/css/materialdesignicons.min.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="{{ url('') }}assets/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Simcify CSS -->
    <link href="{{ url('') }}assets/css/simcify.min.css" rel="stylesheet">

    <!-- Landa CSS -->
    <link href="{{ url('') }}assets/css/style.css" rel="stylesheet">
</head>
<body>
    <!-- sidebar -->
    @include("includes/sidebar")

    <!-- header -->
    @include("includes/header")
    <!-- main content -->
    <div class="main-content">
        <div class="page-header">
            <button type="button" class="btn btn-primary btn-icon pull-right ml-5" data-toggle="modal" data-target="#create"><i class=" mdi mdi-account-plus-outline"></i> Add Staff </button>
            <button type="button" class="btn btn-success btn-icon pull-right toggle-search"><i class=" mdi mdi-filter-outline"></i> Filter & Search </button>
            <h3>Staff</h3>
        </div>


        <!-- page content -->
        <div class="row">

            <!-- search & Filter -->
            <div class="col-md-12 search-filter" style="display: none;">
               <div class="card">
                <form class="form" action="" method="GET">
                    <div class="row">
                        <div class="col-md-8">
                              <div class="form-group">
                                <label>Search Name</label>
                                <input type="text" class="form-control" placeholder="Search Name, Email or Phone" name="search">
                              </div>
                        </div>
                        <div class="col-md-2">
                              <div class="form-group">
                                <label for="email">Gender</label>
                                <select class="form-control" name="gender">
                                    <option value="">Select Gender*</option>
                                    <option value="">All</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                              </div>
                        </div>
                        <div class="col-md-2">
                              <button class="btn btn-primary btn-icon btn-block"><i class=" mdi mdi-filter-outline"></i> Search</button>
                        </div>
                    </div>
                </form>
              </div>
            </div>
            @if(!empty($staffs))
             @foreach($staffs as $staff)
                <!-- user grid -->
                <div class="col-md-3">
                    <div class="user-grid card">
                        <div class="user-grid-pic">
                            @if( !empty($staff->avatar) )
                            <img src="{{ url('') }}uploads/avatar/{{ $staff->avatar }}">
                            @else
                            <img src="{{ url('') }}assets/images/avatar.png">
                            @endif
                        </div>
                        <div class="user-grid-info">
                            <h5>{{ $staff->fname}} {{$staff->lname }}</h5>
                            <p>{{ $staff->branchname }}</p>
                            <p>{{ $staff->position }}</p>
                        </div>
                        <div class="row user-grid-buttons">
                            <div class="col-md-12">
                                <a class="btn btn-primary btn-block" href="{{ url('Profile@get',['userid'=>$staff->id]) }}">Profile</a>
                            </div>
                        </div>
                        <div class="user-grid-class-left">
                            <p class="text-success"><i class="mdi mdi-account-edit"></i>
                              @if( $staff->permissions == "read_write_delete")
                              Read, Edit & Delete
                              @elseif( $staff->permissions == "read_write")
                              Read & Edit
                              @else
                              Read Only
                              @endif
                            </p>
                        </div>
                    </div>
                </div>
              @endforeach
            @else
            <div class="col-md-12">
                <div class="empty">
                    <i class="mdi mdi-alert-circle-outline"></i>
                    <h3>It's empty here!</h3>
                </div>
            </div>
             @endif
        </div>
    </div>

    <!-- footer -->
    @include("includes/footer")

<!-- modals -->
<div class="modal right fade" id="create" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="mdi mdi-close-circle-outline"></i></span></button>
                    <h4 class="modal-title">Add Staff</h4>
                </div>

                <div class="modal-body">
                    <form class="simcy-form" data-parsley-validate="" action="{{ url('Staff@create') }}" method="POST" loader="true" >
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-12">
                            <label>First Name</label>
                            <input type="text" class="form-control" placeholder="First Name" name="fname" required>
                            <input type="hidden" value="{{ csrf_token() }}" name="csrf-token">
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-12">
                            <label>Last Name</label>
                            <input type="text" class="form-control" placeholder="Last Name" name="lname" required>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-12">
                            <label>Email Address</label>
                            <input type="text" class="form-control" placeholder="Email Address" name="email" required>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-12">
                            <label>Phone Number</label>
                            <input type="text" class="form-control" placeholder="Phone Number" name="phone" required>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-12">
                            <label for="email">Branch</label>
                            <select class="form-control" name="branch" required>
                                <option value="">Select Branch *</option>
                                @foreach($branches as $branch)
                                <option value="{{$branch->id}}">{{$branch->name}}</option>
                                @endforeach
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-12">
                            <label>Position / Role</label>
                            <input type="text" class="form-control" placeholder="Position / Role" name="position" required>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-12">
                            <label for="email">Permission</label>
                            <select class="form-control" name="permissions" required>
                                <option value="read_write_delete">Read, Write & Delete</option>
                                <option value="read_write">Read & Write</option>
                                <option value="read_only">Read Only</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-12">
                            <button class="btn btn-primary btn-block">Create Account</button>
                          </div>
                        </div>
                      </div>
                    </form>
                </div>

            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal -->



   <script src="{{ url('') }}assets/js/jquery-3.3.1.min.js"></script>
   <script src="{{ url('') }}assets/js/popper.min.js"></script>
   <script src="{{ url('') }}assets/libs/bootstrap/js/bootstrap.min.js"></script>
   <script src="{{ url('') }}assets/libs/jquery-slimscroll/jquery.slimscroll.min.js"></script>
   <script src="{{ url('') }}assets/js/simcify.min.js"></script>
   <script src="{{ url('') }}assets/js/app.js"></script>
</body>
</html>